@font-face {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 300;
    font-display:swap;
    src: url('../font/Gilroy-Light.woff2') format('woff2'),
    url('../font/Gilroy-Light.woff') format('woff');
}
@font-face {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-display:swap;
    src: url('../font/Gilroy-Regular.woff2') format('woff2'),
    url('../font/Gilroy-Regular.woff') format('woff');
}
@font-face {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-display:swap;
    src: url('../font/Gilroy-Medium.woff2') format('woff2'),
    url('../font/Gilroy-Medium.woff') format('woff');
}

@font-face {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-display:swap;
    src: url('../font/Gilroy-SemiBold.woff2') format('woff2'),
    url('../font/Gilroy-SemiBold.woff') format('woff');
}
@font-face {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-display:swap;
    src: url('../font/Gilroy-Bold.woff2') format('woff2'),
    url('../font/Gilroy-Bold.woff') format('woff');
}
*{
    padding: 0;
    margin: 0;
    border: 0;
}
*,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,:active {outline: none;}
a :focus, a :active {outline: none;}
nav, footer, header, aside{display: block;}
html, body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    font-family: 'Gilroy';
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input, button, textarea{font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0; border: 0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ui li{list-style: none;}
img{vertical-align: top;}
h1;h2;h3;h4;h5;{font-size:iherit;font-weight:400;}

nav .buttonHowHelp{
    font-family: Gilroy;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #242424;
    position: absolute;
    left: 0%;
    right: 1.37%;
    top: 0%;
    bottom: 0%;
}
nav .buttonAnimals{
    position: absolute;
    left: 0%;
    right: 1.14%;
    top: 0%;
    bottom: 0%;
    font-family: Gilroy;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #242424;
    Align: Left;
    Vertical align: Top;
}
nav .buttonAboutUs{
    position: absolute;
    left: 0%;
    right: 6.25%;
    top: 0%;
    bottom: 0%;
    font-family: Gilroy;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color:#242424;
}
div .help-life{
    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 87px;
    display: flex;
    align-items: center;
}
h1{
    font-family: Gilroy;
font-style: normal;
font-weight: bold;
font-size: 72px;
line-height: 87px;
display: flex;
align-items: center;
}
.charitableSociety{
    position: absolute;
    width: 659px;
    height: 18px;
    left: 110px;
    top: 243px;
    font-family: Gilroy;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 18px;
    color: #6B6B6B;
}
